<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vinit.listviewtemplate"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="com.vinit.listviewtemplate.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.vinit.listviewtemplatepermission.MAPS_RECEIVE" />
	
	<application android:name="MyApplication"
        android:allowBackup="true"
        android:theme="@android:style/Theme.Holo"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name="com.vinit.listviewtemzplate.ListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vinit.listviewtemplate.DetailEventActivity"
            android:label="@string/title_activity_detail_event" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vinit.listviewtemplate.LoginAndSignUpActivity"
            android:label="@string/title_activity_login_and_sign_up" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vinit.listviewtemplate.CreateEventActivity"
            android:label="@string/title_activity_create_event" >
        </activity>
        <activity
            android:name="com.vinit.listviewtemplate.SignInActivity"
            android:label="@string/title_activity_sign_in" >
        </activity>
        <activity
            android:name="com.vinit.listviewtemplate.SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name="com.vinit.listviewtemplate.EventDetailsActivity"
            android:label="@string/title_activity_event_details" >
        </activity>
        <activity
            android:name="com.vinit.listviewtemplate.EventsActivity"
            android:label="@string/title_activity_events" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vinit.listviewtemplate.EditProfileActivity"
            android:label="Edit Profile" >
        </activity>
        <activity
            android:name="com.vinit.listviewtemplate.ProfileActivity"
            android:label="Profile" >
            

        </activity>
        <activity
            android:name="com.vinit.listviewtemplate.LeaderProfileActivity"
            android:label="@string/title_activity_leader_profile" >
                                    <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>